@{
  Layout = "Shared/_Layout.cshtml";
}

<h1>Stylist Entry Form</h1>

<div class="row">
    <div class="forms">
        <form class="" action="/stylists" method="post">
            <label for="stylist">Add a newly hired stylist</label>
            <input type="text" name="stylist" id="stylist">
            <button type="submit" name="button">Add</button>
        </form>
    </div>
</div>
